# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
/.idea
/out
/temp/*
/target


*.iml
*.txt
*.MF
*.xlsx
*.class

TAST.exe
TAST.jar
GIS.xlsx
Tast - DM/jre-8u311-windows-x64.exe