# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
/.idea
/out
/temp/*
/Tast
/Tast - DM
/lib/poi-4.1.2/docs
/target


*.iml
*.txt
*.MF
*.xlsx
*.class

TAST.exe
TAST.jar
updater.jar

/lib/cplex/examples/
/lib/cplex/excel
/lib/cplex/matlab
/lib/cplex/python
