.root {
    -fx-font-size: 12;
    -jfx-color1: #516360;
    -jfx-color2: #6D9387;
    -jfx-color3: #CEDBD8;
    -jfx-color4: #EDD8CA;
    -jfx-color5: #d3c6b7;
    -fx-button: -jfx-color2;
    -fx-background-color: -jfx-color3;
}

/*!********************************************************************************/
/**                                                                             **/
/** JFX Tab Pane                                                                **/
/**                                                                             **/

.jfx-tab-pane .headers-region {
    -fx-background-color: -jfx-color1;
    -fx-focus-color: -jfx-color2;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: -jfx-color1;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: -jfx-color4;

}

.jfx-tab-pane .tab .tab-label {
    -fx-font-size: 12.5;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -jfx-color4;
}

.tab-selected-line {
    -fx-background-color: -jfx-color4;
}

/*******************************************************************************!*/

.jfx-button {
    -fx-font-weight: BOld;
    -jfx-button-type: RAISED;
    -fx-background-color: -fx-button;
    -fx-text-fill: -jfx-color3;
}

.button {
    -fx-font-size: 12;
    -fx-pref-width: 120;
    -fx-text-alignment: center;
}

.text-area {
    -fx-font-size: 12;
    -fx-background-color: -jfx-color3;
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-insets: 0;
    -fx-border-radius: 2;
    -fx-border-color: -jfx-color1;
}

.jfx-check-box {
    -jfx-checked-color: -jfx-color5;
}

.jfx-radio-button {
    -jfx-selected-color: -jfx-color5;
}

.jfx-text-field {
    -fx-border-radius: 10px;
    -fx-border-color: -jfx-color1;
    -fx-font-family: "B Nazanin";
    -fx-border-style: solid;
}

.jfx-text-field > .input-line,
.jfx-text-area > .input-line {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
    -fx-translate-y: 0px;
}

.jfx-text-field > .input-focused-line,
.jfx-text-area > .input-focused-line {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
}

